/* ==== CSS Variables ========== */
:root {
  --white: #ffffff;
  --light-gray: #f1f2f3;
  --dark-gray: #2a2a2a;
  --darker-gray: #141414;

  --red: #c31815;
  --dark-blue: #0e1e32;
}

/* ==== Body ========== */

body {
  background-color: var(--light-gray);
}

/* ==== Header ========== */

header {
  width: 100%;
  max-height: 80px;

  position: fixed;
  z-index: 2;

  background-color: var(--white);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.header__logo {
  height: 40px;
}

.navbar__topics {
  display: none;
}

.navbar__user-options {
  display: flex;
  gap: 40px;
}

.navbar__button svg {
  height: 18px;
  width: auto;
}

.navbar__button path {
  fill: var(--dark-gray);
}
/* ==== Main ========== */
main {
  position: relative;
  top: 80px;
}

/* ---- Highlighted News ---------- */

.highlighted-news {
  padding: 13px 20px 20px 20px;
}

.highlighted-news__informations {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.highlighted-news__info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlighted-news__trending {
  font-family: "Poppins", sans-serif;
  color: var(--red);
  font-weight: 600;
  font-size: 0.875rem;
}

.highlighted-news__interactions {
  display: flex;
  gap: 20px;
}

.highlighted-news__info-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.highlighted-news__image {
  display: none;
}

.highlighted-news__title {
  font-family: "IBM Plex Serif", serif;
  color: var(--dark-gray);
  font-weight: 600;
  line-height: 150%;
  font-size: 1.5rem;
}

.highlighted-news__image-mobile {
  object-fit: cover;

  width: 100%;

  border-radius: 5px;
}

.highlighted-news__description {
  font-family: "Poppins", sans-serif;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 165%;
}

.news__info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  font-family: "Poppins", sans-serif;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 165%;

  white-space: nowrap;
}

.news__author-read-time {
  opacity: 0.7;

  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---- Breaking News ---------- */

.braking-news {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--red);
  padding: 10px 20px;

  font-family: "Poppins", sans-serif;
  color: var(--white);
  line-height: 107%;
}

.braking-news__top {
  display: flex;
  align-items: center;
  gap: 15px;

  font-weight: 400;
}

.braking-news__tag {
  background-color: var(--white);
  padding: 4px 8px;

  font-size: 0.813rem;
  color: var(--red);
  text-align: center;

  border-radius: 2px;
}

.braking-news__full-story {
  font-size: 0.75rem;

  opacity: 0.7;

  color: var(--white);
}

.braking-news__full-story:visited {
  color: var(--white);
}

.braking-news__news-title {
  font-weight: 500;
}

/* ---- Main ---------- */
.main {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

/* Website News */

.website-news {
  order: 2;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.website-news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;

  background-color: var(--white);
}

.website-news__topics-scroll {
  width: 85%;
  overflow: auto;
}

.website-news__topics {
  display: flex;
  gap: 20px;
  width: fit-content;
}
.website-news__topic {
  display: flex;
  flex-direction: column;

  white-space: nowrap;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--dark-gray);
}

.website-news__topic.selected .website-news__topic-selected-indicator {
  display: none;
}

.website-news__topic.selected .website-news__topic-selected-indicator {
  display: block;

  height: 2px;
  width: 45%;
  background-color: var(--red);
}

.website-news__news-info-content {
  padding: 20px 25px;
}

.website-news__info-footer {
  padding: 0 25px;
}

.website-news__news {
  display: flex;
  flex-direction: column;

  gap: 30px;

  padding: 0 20px;
}

.website-news__all-news {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.website-news__news-image {
  object-fit: cover;
  width: 100%;
  height: 170px;
}

.website-news__individual-news {
  background-color: var(--white);
  border-radius: 3px;
  overflow: hidden;

  box-shadow: 0 2px 14px rgba(42, 42, 42, 0.24);

  font-family: "Poppins", sans-serif;
}

.website-news__news-info-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.website-news__news-title {
  font-family: "IBM Plex Serif", serif;
  color: var(--dark-gray);
  font-weight: 600;
  line-height: 157%;
  font-size: 0.875rem;
}

.website-news__news-description {
  line-height: 146%;
  font-size: 0.813rem;
}

.webiste-news__news {
  padding: 0px 25px;
}

.website-news__interactions {
  width: 100%;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;

  border-top: 1px solid rgba(42, 42, 42, 0.1);

  margin-top: 20px;
}

.website-news__interaction-content {
  display: flex;
  align-items: center;
  gap: 6px;
}

.website-news__interaction svg {
  height: 16px;
  width: auto;
}

.website-news__interaction-count {
  font-family: "Poppins", sans-serif;
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 0.625rem;
  opacity: 0.7;
}

.website-news__load-more-news {
  width: fit-content;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--red);
  text-transform: uppercase;

  padding: 22px 64px;

  border: 1px solid rgba(195, 24, 21, 0.28);

  align-self: center;
}

/* Live News */

.live-news {
  order: 1;
  position: relative;
  padding: 20px;
}

.live-news__header {
  position: absolute;
  z-index: 1;
  margin: 14px;
}

.live-news__section-title {
  display: flex;
  gap: 14px;
  align-items: center;

  font-family: "Poppins", sans-serif;
  color: var(--red);
  font-weight: 600;
  font-size: 1rem;
  line-height: 107%;
}

.live-news__section-title svg {
  height: 24px;
  width: auto;
}

.live-news__news-image-gradient {
  position: relative;
}

.live-news__news-image-gradient::after {
  content: "";
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 25%
  );
}

.live-news__news-image {
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
}

.live-news__news-title {
  font-family: "IBM Plex Serif", serif;
  color: var(--dark-gray);
  font-weight: 700;
  line-height: 169%;
  font-size: 1rem;
}

/* Local News */

.local-news {
  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-self: flex-start;
  order: 3;

  padding: 0 20px;

  font-family: "Poppins", sans-serif;
  color: var(--dark-gray);
}

.local-news__section-title {
  font-weight: 600;
  font-size: 1.125rem;
}

.local-news__form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--white);
  color: var(--darker-gray);
  font-size: 0.875rem;

  padding: 20px 14px;

  border-radius: 2px;
}

.local-news__form-label {
  font-family: "Nunito", sans-serif;

  font-weight: 400;
}

.local-news__form-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;

  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 2px;
  padding: 11px 16px;
}

.local-news__form-submit {
  width: fit-content;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: uppercase;

  background-color: var(--red);
  color: var(--white);

  padding: 12px 20px;

  border-radius: 2px;
}

/* Editor's Pick */

.editors-pick {
  display: flex;
  flex-direction: column;

  position: relative;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;

  padding: 20px;

  margin-bottom: 80px;
}

.editors-pick__section-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.editors-pick__all-news-scroll {
  position: relative;

  left: -20px;

  width: calc(100% + 40px);
  overflow: auto;
}

.editors-pick__all-news {
  display: flex;
  gap: 20px;
  padding: 0 20px;

  width: fit-content;
}

.editors-pick__individual-news {
  position: relative;
  width: 265px;
  height: 160px;

  border-radius: 2px;
  overflow: hidden;

  font-family: "IBM Plex Serif", serif;
  color: var(--white);
  font-weight: 700;
  line-height: 143%;
  font-size: 0.875rem;

  padding: 18px 14px;
}

.editors-pick__news-topic {
  display: flex;
  align-items: center;

  position: absolute;
  top: 18px;
  margin-top: 18px;

  z-index: 2;

  height: 22px;
}

.editors-pick__news-topic::after {
  content: "";

  width: 0;
  height: 0;

  border-top: calc(28px / 2) solid transparent;
  border-bottom: calc(28px / 2) solid transparent;

  border-left: calc(28px / 2) solid var(--red);
}

.editors-pick__topic-rectangle {
  width: 100%;
  height: 100%;

  padding: 2px 6px;

  background-color: var(--red);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 165%;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.editors-pick__news-info-content {
  position: absolute;

  z-index: 2;

  bottom: 18px;
}

.editors-pick__news-title {
}

.editors-pick__news-description {
  display: none;
}

.editors-pick__news-image-gradient {
  position: relative;
}

.editors-pick__news-image-gradient::after {
  content: "";
  position: absolute;

  top: 0;
  left: -14px;

  width: calc(100% + 28px);
  height: 100%;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.editors-pick__news-image {
  object-fit: cover;

  position: relative;

  left: -14px;

  width: calc(100% + 28px);
}

/* ==== Footer ========== */

footer {
  background-color: var(--dark-blue);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 20px;

  color: var(--white);

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.813rem;

  padding: 30px 20px;
}

.footer__column-3,
.footer__page-buttons {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.footer__column a,
.footer__column a:visited {
  color: var(--white);
}

.footer__column-1 {
  width: 100%;
  order: 1;
}

.footer__logo {
  height: 28px;
  width: auto;
}

.footer__column-2 {
  width: 100%;
  order: 5;

  display: flex;
  justify-content: center;

  border-top: 1px solid rgba(255, 255, 255, 0.1);

  padding-top: 15px;

  opacity: 0.5;
  font-size: 0.75rem;
  font-weight: 400;
}

.footer__column-3 {
  width: calc(75% - 10px);
  order: 2;
}

.footer__column-4 {
  width: calc(25% - 10px);

  order: 3;
}

.footer__column-5 {
  width: 100%;

  order: 4;
}

.footer__social-links {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.footer__social-link svg {
  height: 18px;
  width: auto;
}
